# Versión 3
Esta será una versión que une ambas metodologías

In [2]:
import pandas as pd

## Daymet

In [7]:
df_2000_2020 = pd.read_csv("data/daymet_full.csv")
#df_daymet.drop(columns="date",inplace=True)
df_2000_2020

,estado,year,week_index,dayl,prcp,srad,swe,tmax,tmin,vp,CVE_ENT,date
0,Aguascalientes,2000,1,38569.752366,0.00000,421.139878,0.0,22.647606,1.195663,302.881345,1.0,2000-01-06 00:00:00
1,Aguascalientes,2000,2,38785.064030,0.00000,412.376690,0.0,22.635875,2.480746,328.648852,1.0,2000-01-13 00:00:00
2,Aguascalientes,2000,3,39067.301995,0.00000,441.500852,0.0,22.363806,0.680293,249.668226,1.0,2000-01-20 00:00:00
3,Aguascalientes,2000,4,39409.100832,0.00000,456.997165,0.0,23.790566,1.858065,247.247024,1.0,2000-01-27 00:00:00
4,Aguascalientes,2000,5,39802.388079,0.00000,462.369302,0.0,22.275614,1.152001,234.512377,1.0,2000-02-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
35163,Zacatecas,2020,49,38281.518666,0.33643,383.272928,0.0,21.006084,2.734376,509.366442,32.0,2020-12-03 00:00:00
35164,Zacatecas,2020,50,38123.916678,0.00000,379.154386,0.0,22.240216,5.068265,381.561733,32.0,2020-12-10 00:00:00
35165,Zacatecas,2020,51,38048.463078,0.00000,410.478614,0.0,23.080537,3.146933,273.529405,32.0,2020-12-17 00:00:00
35166,Zacatecas,2020,52,38057.495608,0.00000,405.290976,0.0,22.002875,2.286106,259.768301,32.0,2020-12-24 00:00:00
35167,Zacatecas,2020,53,38112.809750,0.00000,404.399795,0.0,25.248380,5.294066,322.043680,32.0,2020-12-29 00:00:00

In [6]:
df_daymet = pd.read_csv("data/daymet/Daymet_v4_mean_values_2000_2023.csv")
df_daymet.drop(columns=["system:index",".geo"], inplace=True)
df_daymet["date"] = pd.to_datetime(df_daymet["date"])
df_daymet

,date,dayl,prcp,region_id,srad,swe,tmax,tmin,vp
0,2020-01-01,37488.553118,0.000000,3,344.336456,0.000000,26.530041,9.505969,438.681300
1,2020-01-01,39201.698337,0.000000,4,336.750316,0.000000,32.137067,20.380147,2393.197504
2,2020-01-01,37128.100519,0.000581,5,238.735109,0.000000,14.134927,4.992261,432.969042
3,2020-01-01,39132.443326,0.000000,6,381.007523,0.000000,31.237644,17.361849,761.946658
4,2020-01-01,39736.807593,0.000000,7,398.064855,0.000000,30.872890,16.175366,1881.975122
...,...,...,...,...,...,...,...,...,...
23355,2021-12-31,39071.128471,0.000000,30,380.022626,0.009135,32.180152,17.254653,1819.057391
23356,2021-12-31,38742.098820,0.000000,31,345.931594,0.000000,33.164348,20.129931,2356.221984
23357,2021-12-31,38128.986220,0.000000,32,411.627627,0.000000,24.846220,5.256765,323.443463
23358,2021-12-31,38439.903220,0.000000,1,429.254271,0.000000,25.176409,4.483538,300.892459
23359,2021-12-31,36208.221026,9.015670,2,149.899172,0.254592,14.711112,6.982367,911.823944

In [11]:
52*32*(2023-2000)

38272

In [4]:
df_daymet.date.min(), df_daymet.date.max()

('2000-01-06 00:00:00', '2020-12-29 00:00:00')