## Librerias

In [1]:
import matplotlib.pyplot as plt
from pathlib import Path
import seaborn as sns
from glob import glob
import pandas as pd
import numpy as np
import os
import re

# Datos de dengue

## Carga de datos

In [3]:
files_degue = glob('data/*/*.csv')
files_degue

['data\\datos_abiertos_dengue_230323\\dengue_abierto.csv',
 'data\\datos_abiertos_dengue_291222\\dengue_abierto.csv',
 'data\\datos_abiertos_dengue_301221\\Datos abiertos dengue_301221.csv',
 'data\\datos_abiertos_dengue_311220\\Datos abiertos dengue_311220.csv']

In [10]:
df_full = pd.DataFrame()
for f in files_degue:
    df = pd.read_csv(f)
    print(df.shape)
    df_full = pd.concat([df_full, df], axis=0)
print(df_full.shape)
df_full.head()

(9439, 28)
(57730, 28)
(35413, 28)
(120239, 28)
(222821, 28)

,FECHA_ACTUALIZACION,ID_REGISTRO,SEXO,EDAD_ANOS,ENTIDAD_RES,MUNICIPIO_RES,HABLA_LENGUA_INDIG,INDIGENA,ENTIDAD_UM_NOTIF,MUNICIPIO_UM_NOTIF,...,INMUNOSUPR,CIRROSIS_HEPATICA,EMBARAZO,DEFUNCION,DICTAMEN,TOMA_MUESTRA,RESULTADO_PCR,ESTATUS_CASO,ENTIDAD_ASIG,MUNICIPIO_ASIG
0,2023-03-21,1007423,2,29,23,5,2,2,23,5,...,2,2,2,2,5.0,1,5,3,23,5
1,2023-03-21,1007433,2,25,27,4,2,2,27,4,...,2,2,2,2,5.0,1,5,3,27,4
2,2023-03-21,1007459,2,0,7,89,2,2,7,89,...,2,2,2,2,5.0,2,5,1,7,89
3,2023-03-21,1007452,2,41,12,22,2,2,12,22,...,2,2,2,2,5.0,2,5,1,12,22
4,2023-03-21,1007468,2,10,12,73,2,2,12,73,...,2,2,2,2,5.0,1,5,1,12,73

In [9]:
df_full.columns

Index(['FECHA_ACTUALIZACION', 'ID_REGISTRO', 'SEXO', 'EDAD_ANOS',
       'ENTIDAD_RES', 'MUNICIPIO_RES', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'ENTIDAD_UM_NOTIF', 'MUNICIPIO_UM_NOTIF', 'INSTITUCION_UM_NOTIF',
       'FECHA_SIGN_SINTOMAS', 'TIPO_PACIENTE', 'HEMORRAGICOS', 'DIABETES',
       'HIPERTENSION', 'ENFERMEDAD_ULC_PEPTICA', 'ENFERMEDAD_RENAL',
       'INMUNOSUPR', 'CIRROSIS_HEPATICA', 'EMBARAZO', 'DEFUNCION', 'DICTAMEN',
       'TOMA_MUESTRA', 'RESULTADO_PCR', 'ESTATUS_CASO', 'ENTIDAD_ASIG',
       'MUNICIPIO_ASIG'],
      dtype='object')

In [14]:
df_full = df_full[df_full['ESTATUS_CASO'] != 3]
df_full

,FECHA_ACTUALIZACION,ID_REGISTRO,SEXO,EDAD_ANOS,ENTIDAD_RES,MUNICIPIO_RES,HABLA_LENGUA_INDIG,INDIGENA,ENTIDAD_UM_NOTIF,MUNICIPIO_UM_NOTIF,...,INMUNOSUPR,CIRROSIS_HEPATICA,EMBARAZO,DEFUNCION,DICTAMEN,TOMA_MUESTRA,RESULTADO_PCR,ESTATUS_CASO,ENTIDAD_ASIG,MUNICIPIO_ASIG
2,2023-03-21,1007459,2,0,7,89,2,2,7,89,...,2,2,2,2,5.0,2,5,1,7,89
3,2023-03-21,1007452,2,41,12,22,2,2,12,22,...,2,2,2,2,5.0,2,5,1,12,22
4,2023-03-21,1007468,2,10,12,73,2,2,12,73,...,2,2,2,2,5.0,1,5,1,12,73
6,2023-03-21,1007475,1,12,31,79,2,2,31,79,...,2,2,2,2,5.0,2,5,1,31,79
7,2023-03-21,1007462,1,12,12,35,2,2,12,35,...,2,2,2,2,5.0,1,5,2,12,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120234,2020-12-30,841970,1,40,17,25,2,2,17,12,...,2,2,2,2,5.0,1,5,1,17,25
120235,2020-12-30,841973,2,53,14,97,2,2,14,98,...,2,2,2,2,5.0,2,5,1,14,97
120236,2020-12-30,841976,1,31,19,4,2,2,19,4,...,2,2,2,2,5.0,1,2,2,19,4
120237,2020-12-30,841979,2,28,19,6,2,2,19,6,...,2,2,2,2,5.0,1,5,1,19,6
120238,2020-12-30,841986,2,33,16,102,2,2,16,102,...,2,2,2,2,5.0,1,2,2,16,102

## ERA5

In [4]:
entidades_federativas = {
    1: "Aguascalientes",
    2: "Baja California",
    3: "Baja California Sur",
    4: "Campeche",
    5: "Coahuila",
    6: "Colima",
    7: "Chiapas",
    8: "Chihuahua",
    9: "Ciudad de MÃ©xico",
    10: "Durango",
    11: "Guanajuato",
    12: "Guerrero",
    13: "Hidalgo",
    14: "Jalisco",
    15: "Estado de MÃ©xico",
    16: "MichoacÃ¡n",
    17: "Morelos",
    18: "Nayarit",
    19: "Nuevo LeÃ³n",
    20: "Oaxaca",
    21: "Puebla",
    22: "QuerÃ©taro",
    23: "Quintana Roo",
    24: "San Luis PotosÃ­",
    25: "Sinaloa",
    26: "Sonora",
    27: "Tabasco",
    28: "Tamaulipas",
    29: "Tlaxcala",
    30: "Veracruz",
    31: "YucatÃ¡n",
    32: "Zacatecas"
}

In [6]:
era5 = pd.read_csv("data/ERA5/ERA5_Land_mean_values_2020_2023.csv")
era5.drop(columns=['system:index','.geo'], inplace=True)
era5.head()

,date,region_id,surface_net_solar_radiation,surface_pressure,temperature_2m,total_precipitation
0,2020-01-01,3,2.134247e+06,98701.231608,287.766367,0.002488
1,2020-01-01,4,3.509537e+06,100301.585572,298.268191,0.000305
2,2020-01-01,5,1.104217e+06,89380.675663,284.446624,0.000748
3,2020-01-01,6,3.107405e+06,95000.606587,294.771764,0.000271
4,2020-01-01,7,3.682448e+06,92870.038564,294.780402,0.000756

In [7]:
era5['region_id'] = era5['region_id'].replace(entidades_federativas)
era5.head()

,date,region_id,surface_net_solar_radiation,surface_pressure,temperature_2m,total_precipitation
0,2020-01-01,Baja California Sur,2.134247e+06,98701.231608,287.766367,0.002488
1,2020-01-01,Campeche,3.509537e+06,100301.585572,298.268191,0.000305
2,2020-01-01,Coahuila,1.104217e+06,89380.675663,284.446624,0.000748
3,2020-01-01,Colima,3.107405e+06,95000.606587,294.771764,0.000271
4,2020-01-01,Chiapas,3.682448e+06,92870.038564,294.780402,0.000756